<!DOCTYPE html>
<html>
<head>
  <title>Tds common lib</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "tds_common_lib/application", media: "all" %>
  <%= javascript_include_tag "tds_common_lib/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
